-# vvvvvv parkerhill standard  vvvvvv -
-# keep this generic, no application specific code -
!!!
%html
  %head
    %title= [app_title, yield(:title)].join(' | ')
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  %body{ data: { controller: "#{controller_name}", action: "#{action_name}" }}
    .container
      = render 'layouts/navbar'
    #banner
    .container
      #content
        = render 'layouts/flash'
        - if show_title?
          %h1= yield(:title)
        = content_for?(:content) ? yield(:content) : yield
      = render 'layouts/footer'
